#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.editor-btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;


}

.editor-btns button {
  padding: 12px 24px;
  border-radius: 10px;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  background-color: bisque;
}

.editor-btns button:hover {
  opacity: .9;
}

.editor-btns button.active {
  background-color: blue;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
